[Unit]
Description=OShit PoS/Snap API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/data/dist/oshit/snap/backend/bin
ExecStart=/data/dist/oshit/snap/backend/bin/micro-server
Environment=APP_CONF=/data/dist/oshit/snap/backend/etc/application.yaml

LimitCORE=0

Restart=on-failure
RestartSec=3

StandardOutput=journal
StandardError=journal
SyslogIdentifier=oshit-snap

[Install]
WantedBy=multi-user.target
